body {
    font-family: 'Arial', sans-serif;
    background: url('/images/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ddd;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: #1e1e1e;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    color: #00bfff;
}

h2 {
    font-size: 28px;
    color: #fff;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(26, 26, 26, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}

/* Validator List Styling */
#validator-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#validator-list h3 {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

#validator-list a {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #00bfff;
    text-decoration: none;
    transition: color 0.3s;
}

#validator-list a:hover {
    color: #ffcc00;
}

.validator-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

/* Archived Style */
.archived {
    color: #888;
    font-weight: bold;
    margin-left: 5px;
}

.red-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

/* Footer Styling */
footer {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

.footer-text {
    font-size: 14px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.social-icons a img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.social-icons a img:hover {
    transform: scale(1.2);
}

